.post-content table {
    display: block;
    width: 100%;
    overflow: auto
}

.post-content table th {
    font-weight: 600
}

.post-content table th,.post-content table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5
}

.post-content table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1
}

.post-content table tr:nth-child(2n) {
    background-color: #f6f8fa
}

.post-content table img {
    background-color: transparent
}